In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.preprocessing import StandardScaler, LabelEncoder
import csv
import os
import pickle

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('test.csv', index_col="id")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
id,,,,,,,,,,,,,,,,
750000,32,blue-collar,married,secondary,no,1397,yes,no,unknown,21,may,224,1,-1,0,unknown
750001,44,management,married,tertiary,no,23,yes,no,cellular,3,apr,586,2,-1,0,unknown
750002,36,self-employed,married,primary,no,46,yes,yes,cellular,13,may,111,2,-1,0,unknown
750003,58,blue-collar,married,secondary,no,-1380,yes,yes,unknown,29,may,125,1,-1,0,unknown
750004,28,technician,single,secondary,no,1950,yes,no,cellular,22,jul,181,1,-1,0,unknown

In [4]:
df.shape

(250000, 16)

In [5]:
numerical_features = [feature for feature in df.columns if df[feature].dtype != 'O' and feature != "y"]
categorical_features = [feature for feature in df.columns if df[feature].dtype == "O" and feature != "y"]
numerical_features, categorical_features

(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'],
 ['job',
  'marital',
  'education',
  'default',
  'housing',
  'loan',
  'contact',
  'month',
  'poutcome'])

In [6]:
scaler_path = "preprocessing/scaler.pkl"
label_encoder_path = "preprocessing/label_encoder.pkl"

def load_preprocessing_tools(tool_path):
    with open(tool_path, 'rb') as file:
        tool = pickle.load(file)
        return tool
    
scaler = load_preprocessing_tools(scaler_path)
label_encoder = load_preprocessing_tools(label_encoder_path)

# Scaling Standard scaler 
scaler.fit(df[numerical_features])

# label encoding
for feature in categorical_features:
    df[feature] = label_encoder.fit_transform(df[feature])

In [7]:
def evaluate_model(model_path, result_file_name='result.csv'):
    with open(model_path, 'rb') as file:
        loaded_model = pickle.load(file)
        
    y_pred = loaded_model.predict(df)

    dummy_df = df.copy()
    dummy_df['y'] = y_pred
    dummy_df['y'].to_csv(result_file_name, index=True)

In [8]:
model_path = 'model/bbc_OverSampled.pkl'
result_file_name = 'results/bbc_OverSampled.csv'

evaluate_model(model_path, result_file_name)